{% load static from staticfiles %}
{% load url from future %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="dropdown">
                    <!-- <a class="brand" href="#">Map Server</a> -->
                    <a href="{% url 'moderation-home' %}" class="brand dropdown-toggle" data-toggle="dropdown">Submission Moderation{% if user.is_authenticated %} <i class="icon-chevron-down icon-white" style="margin-top: 5px; margin-left: 3px; opacity: 0.5;"></i>{% endif %}</a>
                    {% if user.is_authenticated %}
                    <ul class="dropdown-menu">
                        <!-- <li><a href="{% url 'moderation-home' %}">Submission Moderation</a></li> -->
                        <li><a href="{% url 'mapmaker-home' %}">Map Maker</a></li>
                        {% if user.is_superuser %}<li><a href="{% url 'admin:index' %}">Backend</a></li>{% endif %}
                        <li class="divider"></li>
                        <li><a href="{% url 'email-addresses-csv' %}">User Submissions CSV</a></li>
                        <li><a href="{% url 'convert-en-to-latlng' %}">Bulk Convert Eastings/Northings</a></li>
                        <li><a href="{% url 'bulk-geocode' %}">Bulk Geocode</a></li>
                    </ul>
                {% endif %}
                </li>
            </ul>
            {% if user.is_authenticated %}
                <div class="btn-group pull-right">
                    <a class="btn disabled">{{ user|capfirst }}</a>
                    <a class="btn" href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
                </div>
            {% else %}
                <form class="navbar-form pull-right" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                    {% csrf_token %}
                    <input class="span2" id="id_username" type="text" name="username" maxlength="30" placeholder="Username">
                    <input class="span2" type="password" name="password" id="id_password" placeholder="Password">
                    <button type="submit" class="btn">Login</button>
                    <input type="hidden" name="next" value="{% url 'moderation-home' %}"/>
                </form>
            {% endif %}
        </div>
    </div>
</div>