{% load static from staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ map.name }}{% if not "map" in map.name|lower %} Map{% endif %}</title>
        <script src="{% static 'js/lib/jquery-1.9.1.min.js' %}"></script>
        <link href="{% static 'rendered_maps/map.css' %}" rel="stylesheet">
        <!--[if lte IE 8]><link href="{% static 'rendered_maps/map_ie.css' %}" rel="stylesheet"><![endif]-->

        <!-- map specific CSS -->
        {{ map.specific_css|safe }}
        <!-- / map specific CSS -->

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-2506285-1']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div class="foeMapping">
            <div id="map"></div>

            <div id="legend" data-toggle="max">
                <div id="minimize_button"><i class="icon icon-resize-small"></i></div>
            </div>

            <form id="postcode_locator" action="">
                <label for="postcode_input">
                    <input id="postcode_input" type="text" name="name" maxlength="8" placeholder="Postcode">
                </label>
                <input type="submit" value="Search">
                <br>
                <div id="geolocate_feature" style="display:none;">
                    <label style="display: block; text-align: center; margin: 5px 0; font-weight: bold;">OR</label>
                    <img class="geolocateicon" src="{% static 'rendered_maps/img/geolocate-icon.png' %}"><input type="button" id="geolocate_button" value="Find me on the map">
                </div>
            </form>

            <button id="share_button">Get Shareable Link</button>
            <input id="share_url" type="text">


            {% if map.accept_submissions %}
            <div id="add_your_pin_container">
                <div id="add_your_pin_button" class="bigOrange divButton"><img src="/maps/static/rendered_maps/img/markers/user.png"><p>Add your own pin</p></div>
            </div>

            <form id="add_your_pin_form" action="/maps/plain/post/" method="POST" enctype="multipart/form-data" target="iframe-post-form">
                <div id="close_button" class="divButton closeForm"><p>X</p></div>
                <div id="form_body">
                    {%  if map.submission_header_html %}
                        {{ map.submission_header_html|safe }}
                    {% else %}
                        <h2>Share your Activity</h2>
                        <p>Send us a description and photo</p>
                    {% endif %}
                    <input id="id_latitude" name="latitude" type="hidden">
                    <input id="id_longitude" name="longitude" type="hidden">
                    <input id="id_map" name="map" type="hidden" value="{{ map.id }}">

					<div class="formimage">
						<img style="" src="/maps/static/rendered_maps/img/user-pin-large.png" />
					</div>
                    <div class="textfields">
                        <input id="id_firstname" name="firstname" type="text" placeholder="First name">
                        <input id="id_lastname" name="lastname" type="text" placeholder="Surname">
                        <input id="id_email" name="email" type="text" placeholder="Email">
                        <input id="id_postcode" name="postcode" type="text" maxlength="8" placeholder="Postcode">
                    </div>

                    <textarea cols="30" id="id_description" name="description" rows="3" placeholder="Message"></textarea>

                    <label class="upload-photo-label" style="color: white;"><strong>Upload photo</strong> (optional)</label>
					<input id="id_photo" name="photo" type="file" accept="image/*" style="">

                    <button type="submit" class="bigOrange divButton bigOrange-submit">Submit</button>
                    <label class="smallprint" id="dp">
                        <input id="id_data_protection" name="data_protection_can_send" type="checkbox" checked>
                        If you prefer we do not send you information about our activities, untick this box.
                    </label>
					<p class="smallprint">Submissions are moderated. Pins display name and message/photo at the postcode provided.</p>
                </div>

                <div id="form_confirmation">
                    <h2>Thank you for your submission</h2>
                    <p>Your pin is currently awaiting approval.<br>You'll receive an email if it has been accepted.</p>
					<img style="" src="/maps/static/rendered_maps/img/user-pin-large.png" />
                    <button class="bigOrange divButton closeForm" type="button" style="text-align: center;">Close</button>
                </div>
            </form>

            <!-- Placeholder support for IE lte 9 -->
            <!--[if lte IE 9]>
                <script src="/maps/static/js/lib/jquery.placeholder.min.js" ></script>
                <script>$(function() { $('input[placeholder], textarea[placeholder]').placeholder(); });</script>
            <![endif]-->
            {% endif %}

            <!-- map specific HTML -->
            {{ map.specific_html|safe }}
            <!-- / map specific HTML -->
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="{% static 'js/lib/underscore-min.js' %}"></script>
        <script src="{% static 'js/lib/markerclusterer.js' %}"></script>
        <script src="{% static 'js/lib/jquery.xml2json.js' %}"></script>
        <script src="{% static 'js/lib/handlebars.js' %}"></script>
        <script src="{% static 'js/lib/jquery.cookie.js' %}"></script>
        <script src="{% static 'js/lib/jquery.validate.1.11.1.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery.iframe-post-form.js' %}"></script>
        <!--[if lte IE 8]><script src="{% static 'js/lib/es5-shim.min.js' %}"></script><![endif]-->

        <script src="{% static 'rendered_maps/foemap.js' %}"></script>

        <script type="text/javascript">
            var foeMap;

            $(function ()
            {   foeMap = new FoeMap(
                {   name: "{{ map.name }}",
                    id: {{ map.id }},
                    tile_set: {{ map.tile_set }},
                    center_lat_lng: new google.maps.LatLng({{ map.center_latitude }}, {{ map.center_longitude }}),
                    initial_zoom: {{ map.initial_zoom }},
                    {% if map.accept_submissions %}
                    accept_submissions: true,
                    submissions_layer_name: '{{ map.get_submissions_layer_name }}',
                    {% endif %}
                    shareable_url_root: '{{ map.shareable_url_root }}'
                });

                var layer;
                {% for layer in map.layers.all %}
                //////////////////// {{ layer.name|title }} Layer ////////////////////

                layer = new FoeMap.Layer(
                {   name: '{{ layer.name }}',
                    parent_map: foeMap,
                    visible: {{ layer.visible|lower }},
                    icons: [{% for icon in layer.marker_icons.all %}'/maps/files/{{ icon.icon }}'{% if not forloop.last %},{% endif %}{% endfor %}],
                    cluster: {{ layer.should_cluster|lower }},
                    {% if layer.legend_icon %}legend_icon: '/maps/files/{{ layer.legend_icon.icon }}',
                    {% endif %}{% if layer.cluster_icon %}cluster_icon: '/maps/files/{{ layer.cluster_icon.icon }}',
                    {% endif %}{% if layer.cluster_text_color %}cluster_text_color: '{{ layer.cluster_text_color }}',
                    {% endif %}{% if layer.z_index %}z_index: {{ layer.z_index }},
                    {% endif %}datasets: []
                });
                {% for dataset in layer.datasets.all %}
                layer.addDataset(new FoeMap.Dataset(
                {   name: '{{ dataset.name }}',
                    parent_layer: layer,
                    {% if dataset.source_type == 'source_code' %}source_location:'/maps/feeds/{{ dataset.name|slugify }}.json',
                    source_type: 'json',
                    {% elif dataset.source_type == 'user_submissions' %}source_location:'{% url 'approved_submissions_feed' map_id=map.id %}',
                    source_type: 'json',
                    {% elif dataset.source_type %}source_location:'{{ dataset.source_location }}',
                    source_type: '{{ dataset.source_type }}',
                    {% endif %}{% if dataset.render_location %}render_location: '{{ dataset.render_location }}',
                    {% endif %}{% if dataset.field_override %}fields: {{ dataset.field_override|safe }},
                    {% elif dataset.latitude_field and dataset.longitude_field %}fields: { lat: '{{ dataset.latitude_field }}', lng: '{{ dataset.longitude_field }}'},
                    {% endif %}{% if dataset.fusion_styles %}fusion_styles: {{ dataset.fusion_styles|safe }},
                    {% endif %}{% if dataset.max_result_count %}max_marker_count: {{ dataset.max_result_count }},
                    {% endif %}{% if dataset.popup_html %}popup_html:'{{ dataset.popup_html|safe }}',
                    {% endif %}{% if dataset.parser %}parser:{{ dataset.parser|safe }},
                    {% endif %}trailing_comma_antiemetic_for_ie: null
                }));
                {% endfor %}

                foeMap.addLayer(layer);
                {% endfor %}
                foeMap.render();


                /*   map specific JS   */
                {{ map.specific_js|safe }}
                /*  / map specific JS   */
            });
        </script>
    </body>
</html>